<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackEndExecutable</key>
	<string>UpdaterBackEnd</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>iPod Updater</string>
	<key>CFBundleExecutable</key>
	<string>iPod Updater Extreme</string>
	<key>CFBundleGetInfoString</key>
	<string>5.0, Copyright Apple Computer, Inc. 2002-6</string>
	<key>CFBundleIconFile</key>
	<string>Updater.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iPod</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iPod Updater</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.0</string>
	<key>CFBundleSignature</key>
	<string>dopi</string>
	<key>CFBundleVersion</key>
	<string>5.0</string>
	<key>CopyrightMessage</key>
	<string>Copyright Apple Computer, Inc. 2002-6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
