<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Versions</key>
    <dict>
        <key>1</key>
        <dict>
            <key>buildID</key>
            <integer>22052864</integer>
            <key>VisibleBuildID</key>
            <integer>22052864</integer>
            <key>iPodFamily</key>
            <integer>1</integer>
            <key>updaterFamily</key>
            <integer>1</integer>
            <key>defaultColor</key>
            <string></string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>1</integer>
        </dict>
        <key>2</key>
        <dict>
            <key>buildID</key>
            <integer>36732928</integer>
            <key>VisibleBuildID</key>
            <integer>36732928</integer>
            <key>iPodFamily</key>
            <integer>2</integer>
            <key>updaterFamily</key>
            <integer>2</integer>
            <key>defaultColor</key>
            <string></string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>2</integer>
        </dict>
        <key>3</key>
        <dict>
            <key>buildID</key>
            <integer>39878656</integer>
            <key>VisibleBuildID</key>
            <integer>21004288</integer>
            <key>iPodFamily</key>
            <integer>3</integer>
            <key>updaterFamily</key>
            <integer>3</integer>
            <key>defaultColor</key>
            <string>PFW</string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>3</integer>
        </dict>
        <key>4</key>
        <dict>
            <key>buildID</key>
            <integer>51412992</integer>
            <key>VisibleBuildID</key>
            <integer>51412992</integer>
            <key>iPodFamily</key>
            <integer>4</integer>
            <key>updaterFamily</key>
            <integer>4</integer>
            <key>defaultColor</key>
            <string>XXX</string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>4</integer>
        </dict>
        <key>5</key>
        <dict>
            <key>buildID</key>
            <integer>69238784</integer>
            <key>VisibleBuildID</key>
            <integer>18907136</integer>
            <key>iPodFamily</key>
            <integer>5</integer>
            <key>updaterFamily</key>
            <integer>5</integer>
            <key>defaultColor</key>
            <string>XXX</string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>5</integer>
        </dict>
        <key>6</key>
        <dict>
            <key>buildID</key>
            <integer>39878656</integer>
            <key>VisibleBuildID</key>
            <integer>21004288</integer>
            <key>iPodFamily</key>
            <integer>3</integer>
            <key>updaterFamily</key>
            <integer>6</integer>
				<key>identicalToUpdaterFamily</key>				<integer>3</integer>            <key>defaultColor</key>
            <string>PFW</string>
            <key>displayInAbout</key>
            <false/>
        </dict>
        <key>7</key>
        <dict>
            <key>buildID</key>
            <integer>39878656</integer>
            <key>VisibleBuildID</key>
            <integer>21004288</integer>
            <key>iPodFamily</key>
            <integer>3</integer>
            <key>updaterFamily</key>
            <integer>7</integer>
            <key>defaultColor</key>
            <string>PFW</string>
            <key>displayInAbout</key>
            <false/>
        </dict>
        <key>10</key>
        <dict>
            <key>buildID</key>
            <integer>51412992</integer>
            <key>VisibleBuildID</key>
            <integer>51412992</integer>
            <key>iPodFamily</key>
            <integer>4</integer>
            <key>updaterFamily</key>
            <integer>10</integer>
            <key>defaultColor</key>
            <string>XXX</string>
            <key>displayInAbout</key>
            <false/>
        </dict>
        <key>11</key>
        <dict>
            <key>buildID</key>
            <integer>69238784</integer>
            <key>VisibleBuildID</key>
            <integer>18907136</integer>
            <key>iPodFamily</key>
            <integer>5</integer>
            <key>updaterFamily</key>
            <integer>11</integer>
            <key>defaultColor</key>
            <string>XXX</string>
            <key>displayInAbout</key>
            <false/>
        </dict>
        <key>13</key>
        <dict>
            <key>buildID</key>
            <integer>100696064</integer>
            <key>VisibleBuildID</key>
            <integer>16809984</integer>
            <key>iPodFamily</key>
            <integer>6</integer>
            <key>updaterFamily</key>
            <integer>13</integer>
            <key>defaultColor</key>
            <string>XXX</string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>8</integer>
        </dict>
        <key>14</key>
        <dict>
            <key>buildID</key>
            <integer>83918848</integer>
            <key>VisibleBuildID</key>
            <integer>16809984</integer>
            <key>iPodFamily</key>
            <integer>7</integer>
            <key>updaterFamily</key>
            <integer>14</integer>
            <key>defaultColor</key>
            <string>SZB</string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>7</integer>
        </dict>
        <key>128</key>
        <dict>
            <key>buildID</key>
            <integer>18055168</integer>
            <key>VisibleBuildID</key>
            <integer>18055168</integer>
            <key>iPodFamily</key>
            <integer>128</integer>
            <key>updaterFamily</key>
            <integer>128</integer>
            <key>defaultColor</key>
            <string></string>
            <key>displayInAbout</key>
            <true/>
				<key>aboutBoxOrdering</key>
				<integer>6</integer>
        </dict>
        <key>129</key>
        <dict>
            <key>buildID</key>
            <integer>18055168</integer>
            <key>VisibleBuildID</key>
            <integer>18055168</integer>
            <key>iPodFamily</key>
            <integer>128</integer>
            <key>updaterFamily</key>
            <integer>129</integer>
            <key>defaultColor</key>
            <string></string>
            <key>displayInAbout</key>
            <false/>
        </dict>
    </dict>
</dict>
</plist>

