<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>BuildVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>ProjectName</key>
	<string>iPod_app</string>
	<key>ReleaseStatus</key>
	<string>GM</string>
	<key>SourceVersion</key>
	<string>1210400</string>
</dict>
</plist>
