<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>DeviceIcon-0.icns</string>
	<key>1</key>
	<string>DeviceIcon-1.icns</string>
	<key>2</key>
	<string>DeviceIcon-2.icns</string>
	<key>3</key>
	<dict>
		<key>Generic</key>
		<string>DeviceIcon-3-1.icns</string>
		<key>PFW</key>
		<string>DeviceIcon-3-1.icns</string>
		<key>PRC</key>
		<string>DeviceIcon-3-1.icns</string>
		<key>QKJ</key>
		<string>DeviceIcon-3-2.icns</string>
		<key>QKK</key>
		<string>DeviceIcon-3-3.icns</string>
		<key>QKL</key>
		<string>DeviceIcon-3-4.icns</string>
		<key>QKM</key>
		<string>DeviceIcon-3-5.icns</string>
		<key>QKN</key>
		<string>DeviceIcon-3-2.icns</string>
		<key>QKP</key>
		<string>DeviceIcon-3-3.icns</string>
		<key>QKQ</key>
		<string>DeviceIcon-3-4.icns</string>
		<key>QKR</key>
		<string>DeviceIcon-3-5.icns</string>
		<key>S41</key>
		<string>DeviceIcon-3-1.icns</string>
		<key>S42</key>
		<string>DeviceIcon-3-1.icns</string>
		<key>S43</key>
		<string>DeviceIcon-3-7.icns</string>
		<key>S44</key>
		<string>DeviceIcon-3-7.icns</string>
		<key>S45</key>
		<string>DeviceIcon-3-8.icns</string>
		<key>S46</key>
		<string>DeviceIcon-3-8.icns</string>
		<key>S47</key>
		<string>DeviceIcon-3-6.icns</string>
		<key>S48</key>
		<string>DeviceIcon-3-6.icns</string>
		<key>S4C</key>
		<string>DeviceIcon-3-1.icns</string>
		<key>S4D</key>
		<string>DeviceIcon-3-1.icns</string>
		<key>S4E</key>
		<string>DeviceIcon-3-7.icns</string>
		<key>S4F</key>
		<string>DeviceIcon-3-7.icns</string>
		<key>S4G</key>
		<string>DeviceIcon-3-8.icns</string>
		<key>S4H</key>
		<string>DeviceIcon-3-8.icns</string>
		<key>S4J</key>
		<string>DeviceIcon-3-2.icns</string>
		<key>S4K</key>
		<string>DeviceIcon-3-2.icns</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Generic</key>
		<string>DeviceIcon-4.icns</string>
		<key>S2X</key>
		<string>DeviceIcon-4-1.icns</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Generic</key>
		<string>DeviceIcon-5.icns</string>
		<key>TM2</key>
		<string>DeviceIcon-5-1.icns</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Generic</key>
		<string>DeviceIcon-6.icns</string>
		<key>SZ9</key>
		<string>DeviceIcon-6.icns</string>
		<key>SZA</key>
		<string>DeviceIcon-6.icns</string>
		<key>SZT</key>
		<string>DeviceIcon-6.icns</string>
		<key>SZU</key>
		<string>DeviceIcon-6.icns</string>
		<key>U99</key>
		<string>DeviceIcon-6.icns</string>
		<key>V9K</key>
		<string>DeviceIcon-6.icns</string>
		<key>V9P</key>
		<string>DeviceIcon-6.icns</string>
		<key>WEC</key>
		<string>DeviceIcon-6.icns</string>
		<key>WED</key>
		<string>DeviceIcon-6.icns</string>
		<key>WEG</key>
		<string>DeviceIcon-6.icns</string>
		<key>WEH</key>
		<string>DeviceIcon-6.icns</string>
		<key>WEL</key>
		<string>DeviceIcon-6.icns</string>
		<key>TXK</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>TXL</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>TXM</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>TXN</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>UK8</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>V9V</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>V9M</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>V9R</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>WEE</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>WEF</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>WEJ</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>WEK</key>
		<string>DeviceIcon-6-1.icns</string>
		<key>V9V</key>
		<string>DeviceIcon-6-2.icns</string>
		<key>WEM</key>
		<string>DeviceIcon-6-2.icns</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Generic</key>
		<string>DeviceIcon-7.icns</string>
		<key>SZB</key>
		<string>DeviceIcon-7.icns</string>
		<key>SZC</key>
		<string>DeviceIcon-7.icns</string>
		<key>SZV</key>
		<string>DeviceIcon-7.icns</string>
		<key>SZW</key>
		<string>DeviceIcon-7.icns</string>
		<key>UNA</key>
		<string>DeviceIcon-7.icns</string>
		<key>TJT</key>
		<string>DeviceIcon-7-1.icns</string>
		<key>TJU</key>
		<string>DeviceIcon-7-1.icns</string>
		<key>TK2</key>
		<string>DeviceIcon-7-1.icns</string>
		<key>TK3</key>
		<string>DeviceIcon-7-1.icns</string>
		<key>UPR</key>
		<string>DeviceIcon-7-1.icns</string>
	</dict>
	<key>128</key>
	<string>DeviceIcon-128.icns</string>
	<key>Generic</key>
	<string>DeviceIcon-0.icns</string>
</dict>
</plist>
